* {
    padding: 0;
    margin: 0;
}
.column img{
    width:360px;
    height:260px;
    padding: 20px;
}
.column1 img{
    width: 392px;
    height: 260px;
    padding: 4px;
}
.row{
    padding-bottom: 100px;
    padding-top: 5  0px;
}

header.spa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/background-spa.jpg");
    background-position: 0% 70%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
.text{
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0 auto;
    width: 1200px;
    text-align: justify;
    color: rgb(126, 126, 126);
  }

h1.title {
    text-align: center;
    color: aliceblue;
    padding-top: 150px;
    font-family: 'Cormorant';
}

h1.content {
    font-family: fantasy;
    font-style: normal;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding: 50px 50px 20px 50px;
    color: #818181;
}

p.content {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0 80px;
}

h2.content {
    font-family: 'Cormorant';
    font-style: normal;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding: 50px 50px 20px 50px;
    text-align: center;
}